.chat{
    &__footer{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid #eee;
        width: 100%;
    }
    &__send{
        color: #0de82b;
        font-weight: bold;
        padding: 1px 10px;
    }
    &__avatar{
        width: 33px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 33px;
    }
    &__section{
        border-bottom: 1px solid #ddd;
        display: flex;
        padding: 15px;
    }
    &__answer{
        background: #eee;
    }
    &__text{
        padding-left: 15px;
    }
}